<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome {{session.email}}</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/users/editprofile"><i class="icon-user"></i>Edit Profile</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="/users/logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->