<!-- Page content -->
<div class="main">
    <br>
    <div>
        <form id="billoflading" action="http://localhost:3000/ico/transact" method="post"
            style="border:1px solid #ccc; padding: 10px; background-color: white; width: 90%; margin-left: auto; margin-right: auto;">
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Bill Number" name="BolNumber" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Carrier name" name="CarrierName" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="SPAC" name="SPAC" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Trailer Number" name="TrailerNumber" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Pro Number" name="ProNumber" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Serial Number" name="SerialNumber" required>
                </div>
            </div>
            <p>Ship from: </p>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Name" name="Shipfromname" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="SID No" name="SIDNo" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Address Line 1" name="FromAddressLine1"
                        required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Address Line 2" name="FromAddressLine2"
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="City" name="FromCity" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="State" name="FromState" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Zip Code" name="FromZipCode" required>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <p>Ship to:</p>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Name" name="Shiptoname" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="CID No" name="CIDNo" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Address Line 1" name="ToAddressLine1" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Address Line 2" name="ToAddressLine2" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="City" name="ToCity" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="State" name="ToState" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Zip Code" name="ToZipCode" required>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <p>Third Party Freight charges:</p>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Name" name="Thirdpartyname" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Address Line 1" name="TPAddressLine1" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Address Line 2" name="TPAddressLine2" required>

                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="City" name="TPCity" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="State" name="TPState" required>

                </div>
                <div class="col-md-6">

                    <input class="form-control" type="text" placeholder="Zip Code" name="TPZipCode" required>
                </div>
            </div>
            <p>Freight Charges Terms:</p>
            <div class="row">
                <div class="col-md-6">
                    <input type="radio" name="FCT" value="prepaid"> Prepaid
                    <input type="radio" name="FCT" value="Collect"> Collect
                    <input type="radio" name="FCT" value="3rd Party"> 3rd Party
                    <input class="form-control" type="text" name="3rdparty" required><br>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" name="Masterbill" value="Masterbill" checked> Master bill of lading with
                    attached underlying bills of lading<br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control btn btn-primary" type="button" value="Submit" onclick="submitBill()">
                </div>
            </div>
        </div>
    </form>
    <br>
</div>