<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="/user/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
                Home</a> </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Edit Profile</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form method="POST" action="http://localhost:/3005/edituser" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Company Name :</label>
                                <div class="controls">
                                    <input type="text" class="span11" placeholder="Company Name" name="company" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Address Line 1 :</label>
                                <div class="controls">
                                    <input type="text" class="span11" placeholder="Address Line 1" name="address" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Address Line 2 :</label>
                                <div class="controls">
                                    <input type="text" class="span11" placeholder="Address Line 2" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">State :</label>
                                <div class="controls">
                                    <input type="text" class="span11" placeholder="State" name="state" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Zipcode :</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="zip" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Country :</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="country" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Phone :</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="phone" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>