<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Best Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css"/>

    <script src="/public/javascripts/jquery.js"></script>
    <script src="/public/javascripts/bootstrap.js"></script>
    <script src="/public/javascripts/popper.js"></script>
    <script src="/public/javascripts/script.js"></script>
</head>
<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  <!-- Side navigation -->
  <div class="sidenav">
    <a href="/user/editprofile">Edit Profile</a>
    <a href="/user/createbilloflading">Create Bill of Lading</a>
    <a href="/user/Analytics">Analytics</a>
  </div>
  <div class="container">
    
	  {{{body}}}
  </div>
  {{> footer}}
</body>
</html>